/* global theme colors 
  #EDFFEC Honeydew
  #61E786 Light Green
  #5A5766 Davy's Gray
  #48435C English Violet
  #9792E3 Tropical Indigo
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #5A5766;
  font-family: 'Roboto', sans-serif;
}

.pageDiv {
  display: grid;
  justify-content: center;
  justify-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #48435C;
}

a {
  text-decoration: none;
  color: #EDFFEC;
}

li {
  list-style-type: none;
}

span {
  color: #EDFFEC;
}