/* global theme colors 
  #EDFFEC Honeydew
  #61E786 Light Green
  #5A5766 Davy's Gray
  #48435C English Violet
  #9792E3 Tropical Indigo
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #5A5766;
  font-family: 'Roboto', sans-serif;
}

.pageDiv {
  display: grid;
  justify-content: center;
  justify-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #48435C;
  height: 20vh;
  width: 100%;
}

.supaboard-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
}

.supaboard-div img {
  max-height: 20vh;
}

a {
  text-decoration: none;
  color: #EDFFEC;
}

li {
  list-style-type: none;
}

span {
  color: #EDFFEC;
}

button {
  border: 1px solid #9792E3;
  border-radius: 0.15rem;
}

ul {
  display: grid;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal {
  display: grid;
  justify-content: center;
  width: 75vw;
  background-color: #48435C;
  border: 1px solid #9792E3;
}

.login-div {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.navbar-login {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
}